.recommendations{
  height: auto;
  @include column-container;
#recommendations1 {
  text-align: center;
  width: 90%;
 margin: 30px;
  p {
    color: hsla(228, 2%, 54%, 1);
  }
  h3 {
    font-weight: 400;
    padding: 30px;
  }
  .heading {
    padding: 30px;
     img {
      padding: 20px;
    }
  }
  .ideas {
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
    .design {
      width: 20%;
     @include column-container;
    }
    .circle {
      border: 1.5px solid #e27866;
      width: 60px;
      height: 60px;
      padding: 15px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
    }
  }
 }
}